APP_ENV=dev
APP_ENABLE_DEBUG=1

REDIS_HOST=cbr_puller_redis
REDIS_PORT=6379

KAFKA_HOST=cbr_puller_kafka
KAFKA_PORT=9092
KAFKA_TOPIC=cbr_puller_data
KAFKA_TIMEOUT=10

ZOOKEEPER_HOST=cbr_puller_zookeeper
ZOOKEEPER_PORT=2181

PUID=USR
PGID=GRP
